/.idea/
# IntelliJ metadata
*.iml
.idea
.idea/compiler.xml
.idea/modules.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directories
gradle_build
buildSrc/build
/build
# Ignore Gradle build output directory
build
out
target